<div class="container">
	<div class="col s12">
		<h1>End User License Agreement</h1>
		<p>Thank you for selecting the Services offered by CXOSOFT LLC or its Affiliates (referred to as "CXO", "we", "our", or "us")
			on this website. Please review these Terms of Service ("Agreement") thoroughly. This Agreement is a legal agreement between
			you and CXO. By accessing or using the Services, you agree to these terms. If you do not agree to this Agreement, then
			do not indicate acceptance of the Agreement, and do not use the Services.</p>
		<h3>1. Agreement</h3>
		<p>1.1 <strong>This Agreement describes the terms governing your use of the CXO online services provided to you on this website,</strong>			including content, updates and new releases, (collectively, the "Services"). It includes by reference:<br> &#8226; CXO's
			Privacy Statement available on this website or provided to you in writing for the Services you selected.<br> &#8226; Additional
			Terms and Conditions for the Services that you have selected, including from third parties.<br> &#8226; Any terms provided
			separately to you for the Services, including for example, web or email product or program terms, ordering, activation,
			pricing and payment terms, if applicable, for the Services.
		</p>
		<p>1.2 <strong>An "Affiliate" means all CXO companies and subsidiaries that directly or indirectly,</strong> control or are
			controlled by CXO, or are under the common control with CXO. As used in this Agreement, control means equity ownership
			of fifty percent (50%) or greater interest in the voting shares held by an entity.
		</p>
		<h3>2. Your Rights to Use the Services and Restrictions</h3>
		<p>2.1 <strong>The Services are protected by copyright, trade secret, and other intellectual property laws.</strong> You are
			only granted the right to use the Services, and CXO reserves all rights of ownership in the Services not granted to you
			in writing here. As long as you meet any applicable payment obligations and comply with this Agreement, CXO grants to
			you a personal, limited, nonexclusive, nontransferable right to use the Services that is valid only for the period of
			use provided in the ordering and activation terms, and only for the purposes described by CXO on the website for the Services.</p>

		<p>2.2 <strong>You agree not to use the Services or content on this website in a manner that violates any applicable law, regulation or this Agreement.</strong>	For example, unless authorized by CXO in writing, you agree you will not:
      <br>
      &#8226; Provide access to or give any part of the Services to any third party.<br>
      &#8226; Reproduce, duplicate, copy,
			deconstruct, sell, trade or resell the Services.<br>
      &#8226; Attempt to access any other CXO systems that are not part
			of these Services.<br>
      &#8226; Excessively overload the CXO systems used to provide the Services.
    </p>

		<p>If you violate any of these terms, this Agreement and your right to use the Services may be terminated by CXO in its sole
			discretion.</p>

		<h3>3. Payment</h3>
		<p>For Services offered on a payment or subscription basis, the following terms apply, unless CXO notifies you otherwise in
			writing. This Agreement also incorporates by reference and includes program ordering and payment terms provided to you
			on the website for the Services:</p>

		<p>Payments will be billed to you in U.S. dollars, and your account will be debited when you subscribe and provide your payment
			information, unless stated otherwise in the program ordering or payment terms on the website for the Services. <br>
      You must pay with one of the following:<br>
      &#8226; A valid credit card acceptable to CXO;<br>
      &#8226; A valid debit card
			acceptable to CXO;<br>
      &#8226; Sufficient funds in a checking or savings account to cover an electronic debit of the payment
			due; or
      &#8226; By another payment option CXO provides to you in writing.</p>
		<p>If your payment and registration information is not accurate, current, and complete and you do not notify us promptly when
			such information changes, we may suspend or terminate your account and refuse any use of the Services.</p>
		<p>CXO will automatically renew your monthly or annual Services at the current rates, unless the Services are cancelled or
			terminated under this Agreement.</p>
		<p>Additional cancellation or renewal terms may be provided to you on the website for the Services.</p>
		<h3>4. Trial Period</h3>
		<p>If you registered for a trial use of the Services ("Trial Period"), you must decide to purchase the Services within the
			Trial Period in order to retain any Content (defined in Section 6) that you have posted or uploaded during the Trial Period.
			If you do not purchase the Services by the end of the Trial Period, your Content will no longer be available to you, and
			CXO will not be responsible for any of it. To be very clear, after using the Services during the trial period, if you
			decide not to purchase the full version of the Services, you will not be able to access or retrieve any of the data you
			added/created during the trial.</p>
		<h3>5. Your Privacy and Personal Information</h3>
		<p>You can view CXO’s Privacy Statement on the website, or via a link on the website for the Services you have selected. You
			agree to be bound by the applicable CXO Privacy Statement, subject to change in accordance with its terms. Most importantly,
			you agree:<br> To CXO maintaining your data according to the CXO Privacy Statement, as part of the Services.<br> To give
			CXO permission to aggregate your uploaded, non-personally identifiable account data with that of other users of the Service.
			By way of example, this means that CXO may use that aggregated data to improve services, design promotions, or provide
			ways for you to compare business practices with other users.</p>
		<p>CXO is a global company and may access or store personal information in multiple countries, including countries outside
			of the European Union that may be deemed to have inadequate protections. When you agree to these Terms of Service, you
			agree to this practice.</p>
		<h3>6. Content</h3>
		<p>6.1 <strong>You are responsible for your content.</strong> You are legally responsible for all information, data, text,
			software, music, sound, photographs, graphics, video, messages or other materials ("Content") uploaded, posted, or stored
			through your use of the Services. You grant CXO a worldwide, royalty-free, non-exclusive license to host and use the Content
			in order to provide you with the Services. You agree not to use the Services for any illegal purpose or in violation of
			any applicable local, state, federal or international law. You are encouraged to archive your Content regularly and frequently.
			You are responsible for any Content that may be lost or unrecoverable through your use of the Services. You must provide
			all required and appropriate warnings, information and disclosure. Tou agree that you will not use the Services to share,
			store, or in any way distribute financial data that is not in accordance with the law. Any users suspected of having information
			which involves fraud, embezzlement, money laundering, insider trading, support for terrorism, or any other activity proscribed
			by law may have their accounts terminated, their financial data erased, and they also may be reported to law enforcement
			officials in the appropriate jurisdictions. CXO is not responsible for the post, distribute, link to, publish, reproduce,
			engage in or transmit any of the following, including but not limited to: <br>
      &#8226; Illegal, fraudulent, libelous, defamatory, obscene, pornographic, profane, threatening, abusive, hateful, harassing,
			offensive, inappropriate or objectionable information or communications of any kind, including without limitation conduct
			that would encourage or constitute an attack or "flaming" others, or criminal or civil liability under any local, state,
			federal or foreign law;<br>
      &#8226; Content or data that would impersonate someone else or falsely represent your identity
			or qualifications, or that constitutes a breach of any individual’s privacy, including posting images about children or
			any third party without their consent (or a parent's consent in the case of a minor);<br>
      &#8226; Except as otherwise
			permitted by CXO in writing, advertisements, solicitations, investment opportunities, chain letters, pyramid schemes,
			other unsolicited commercial communication or engage in spamming or flooding;<br>
      &#8226; Virus, trojan horse, worm or
			other disruptive or harmful software or data; and<br>
      &#8226; Any information, software or Content which is not legally
			yours and may be protected by copyright or other proprietary right, or derivative works, without permission from the copyright
			owner or intellectual property rights owner.</p>
		<p>6.2 <strong>Community forums.</strong> The Services may include a community forum to exchange information with other users
			of the Services and the public. Please use respect when you interact with other users. CXO does not support and is not
			responsible for the accuracy of others’ content in these community forums. Do not reveal information in the community
			forum that you do not want to make public. Users may post hypertext links to content hosted and maintained by third parties
			for which CXO is not responsible.</p>
		<p>6.3 <strong>CXO may freely use feedback you provide.</strong> You agree that CXO may use your feedback, suggestions, or
			ideas in any way, including in future modifications of the Services, other products or services, advertising or marketing
			materials. You grant CXO a perpetual, worldwide, fully transferable, sub-licensable, non-revocable, fully paid-up, royalty
			free license to use the feedback you provide to CXO in any way.</p>

		<p>6.4 CXO may monitor your content from time to time. CXO may, but has no obligation to, monitor content on the Services.
			We may disclose any information necessary or appropriate to satisfy our legal obligations, protect CXO or its customers,
			or operate the Services properly. CXO, in its sole discretion, may refuse to post, remove, or refuse to remove, any Content,
			in whole or in part, alleged to be unacceptable, undesirable, inappropriate, or in violation of this Agreement.</p>
		<h3>7. Additional Terms You Agree To</h3>
		<p>7.1 <strong>CXO does not give professional advice.</strong> CXO is not in the business of providing legal, financial, accounting,
			health care, real estate or other professional services or advice. Consult the services of a competent professional when
			you need this type of assistance.</p>
		<p>7.2 <strong>We may tell you about other CXO services.</strong> You may be offered other services, features, products, applications,
			online communities, or promotions provided by CXO ("CXO Services"). If you decide to use any of these CXO Services, additional
			terms and conditions and separate fees may apply. You acknowledge that in accessing some CXO Services you may upload or
			enter data from your account(s) such as names, addresses and phone numbers, purchases, and sales among others, to the
			Internet. You grant CXO permission to use information about your business and experience to help us to provide the CXO
			Services to you, including updating and maintaining your data, addressing errors or service interruptions, and enhancing
			the types of data and services CXO may provide to you in the future. You grant CXO permission to combine your business
			data, if any, with that of others in a way that does not identify you or any individual personally. We may use this data
			to improve services and to compare business practices with other company standards. We may use your data to create, market
			or promote new CXO offerings to you and others. You also grant CXO permission to share or publish summary results relating
			to research data and to distribute or license such data to third parties.</p>
		<p>7.3 <strong>We may tell you about third party products or services.</strong> Subject to the CXO Privacy Statement, you
			may be offered products or services by third parties who are not affiliated with CXO ("Third Party Products") or the Services
			may contain links to third party websites ("Third Party Sites") and you agree that CXO can use your contact information,
			including name and address, for the purpose of offering these products to you. If you decide to use any Third Party Products
			or access any Third Party Sites, you are responsible for reviewing the third party’s separate product terms, website terms
			and privacy policies. You agree that the third parties, and not CXO, are responsible for their product’s performance and
			the content on their websites. CXO is not affiliated with these Third Party Products or Third Party Sites and has no liability
			for them.</p>
		<p>7.4 <strong>Communications choices.</strong> CXO may be required by law to send you communications about the Services or
			Third Party Products. You agree that CXO may send these communications to you via email or by posting them on one of our
			sponsored websites. If you later decide that you do not want to receive future Communications electronically, please review
			the Privacy statement provided on the on the Services website to review your communications choices.</p>
		<p>7.5 <strong>You will track your passwords and accept updates.</strong> You are responsible for securely managing your password(s)
			for access to the Services. If you become aware of any unauthorized access to your Services account, theft or loss of
			your password, you agree to contact CXO as soon as possible. The Services may periodically be updated with tools, utilities,
			improvements, third party applications, or general updates to improve and enhance the features and performance of the
			Services. You agree to receive these updates automatically as part of the Services.</p>
		<h3>8. Disclaimer of Warranties</h3>
		<p>8.1 <strong>YOUR USE OF THE SERVICES, SOFTWARE,</strong> AND CONTENT IS ENTIRELY AT YOUR OWN RISK. EXCEPT AS DESCRIBED
			IN THIS AGREEMENT, THE SERVICES ARE PROVIDED "AS IS." TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, CXO, ITS AFFILIATES,
			AND ITS THIRD PARTY SERVICE OR DATA PROVIDERS, LICENSORS, DISTRIBUTORS OR SUPPLIERS (COLLECTIVELY REFERRED TO AS, "SUPPLIERS")
			DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTY THAT THE SERVICES ARE FIT FOR A PARTICULAR PURPOSE,
			TITLE, MERCHANTABILITY, DATA LOSS, NON-INTERFERENCE WITH OR NON-INFRINGEMENT OF ANY INTELLECTUAL PROPERTY RIGHTS, OR THE
			ACCURACY, RELIABILITY, QUALITY OR CONTENT IN OR LINKED TO THE SERVICES. CXO AND ITS AFFILIATES AND SUPPLIERS DO NOT WARRANT
			THAT THE SERVICES ARE SECURE, FREE FROM BUGS, VIRUSES, INTERRUPTION, ERRORS, THEFT OR DESTRUCTION. IF THE EXCLUSIONS FOR
			IMPLIED WARRANTIES DO NOT APPLY TO YOU, ANY IMPLIED WARRANTIES ARE LIMITED TO 60 DAYS FROM THE DATE OF PURCHASE OR DELIVERY
			OF THE SERVICES, WHICHEVER IS SOONER.</p>

		<p>8.2 CXO AND ITS AFFILIATES AND SUPPLIERS DISCLAIM ANY REPRESENTATIONS OR WARRANTIES THAT YOUR USE OF THE SERVICES WILL
			SATISFY OR ENSURE COMPLIANCE WITH ANY LEGAL OBLIGATIONS OR LAWS OR REGULATIONS. THIS DISCLAIMER APPLIES TO BUT IS NOT
			LIMITED TO THE HEALTH INSURANCE PORTABILITY AND ACCOUNTABILITY ACT OF 1996 ("HIPAA"), THE GRAMM-LEACH-BLILEY ACT OF 1999,
			THE SARBANES-OXLEY ACT OF 2002, OR OTHER FEDERAL OR STATE STATUTES OR REGULATIONS. YOU ARE SOLELY RESPONSIBLE FOR ENSURING
			THAT YOUR USE OF THE SERVICES IS IN ACCORDANCE WITH APPLICABLE LAW.</p>

		<h3>9. Limitation of Liability and Indemnity</h3>
		<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE ENTIRE LIABILITY OF CXO, AND ITS AFFILIATES AND SUPPLIERS FOR ALL
			MATTERS OR CLAIMS RELATING TO THIS AGREEMENT SHALL BE LIMITED TO THE AMOUNT YOU PAID FOR THE SERVICES DURING THE TWELVE
			(12) MONTHS PRIOR TO SUCH CLAIM. SUBJECT TO APPLICABLE LAW, CXO AND ITS AFFILIATES AND SUPPLIERS ARE NOT LIABLE FOR ANY
			OF THE FOLLOWING: (A) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES; (B) DAMAGES RELATING TO FAILURES
			OF TELECOMMUNICATIONS, THE INTERNET, ELECTRONIC COMMUNICATIONS, CORRUPTION, SECURITY, LOSS OR THEFT OF DATA, VIRUSES,
			SPYWARE, LOSS OF BUSINESS, REVENUE, PROFITS OR INVESTMENT, OR USE OF SOFTWARE OR HARDWARE THAT DOES NOT MEET CXO SYSTEMS
			REQUIREMENTS. THE ABOVE LIMITATIONS APPLY EVEN IF CXO AND ITS AFFILIATES AND SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY
			OF SUCH DAMAGES. THIS AGREEMENT SETS FORTH THE ENTIRE LIABILITY OF CXO, ITS AFFILIATES AND YOUR EXCLUSIVE REMEDY WITH
			RESPECT TO THE SERVICES AND ITS USE.</p>

		<p>You agree to indemnify and hold CXO and its Affiliates and Suppliers harmless from any and all claims, liability and expenses,
			including reasonable attorneys' fees and costs, arising out of your use of the Services or breach of this Agreement (collectively
			referred to as "Claims"). CXO reserves the right, in its sole discretion and at its own expense, to assume the exclusive
			defense and control of any Claims. You agree to reasonably cooperate as requested by CXO in the defense of any Claims.</p>

		<h3>10. Changes to This Agreement or the Services</h3>
		<p>We may change this Agreement from time to time, and the changes will be effective when posted on our website for the Services
			or when we notify you by other means. Please review the Agreement periodically on this website for changes. We have the
			right to change any of the terms of this Agreement upon reasonable notice to you. We may also change or discontinue the
			Services, in whole or in part, including but not limited to, the Internet based services, pricing, technical support options,
			and other product-related policies. Your continued use of the Services after CXO posts or otherwise notifies you of any
			changes, indicates your agreement to the changes.</p>

		<h3>11. Termination</h3>
		<p>CXO may immediately and without notice terminate this Agreement or suspend the Services provided to you, if you fail to
			comply with these terms or if you no longer agree to receive electronic communications (see Section 7.4). Upon termination
			you must immediately stop using the Services and any outstanding payments will become due. Any termination of this Agreement
			shall not affect CXO’s rights to any payments due to it. CXO may terminate a free account at any time. Other requirements
			regarding termination or cancellation of the Services may apply based on the specific ordering terms for the Services
			provided to you. Sections 1.2, 5, 8 through 15 will survive and remain in effect even if the Agreement is terminated,
			cancelled or rescinded.</p>

		<h3>12. Export Restrictions</h3>
		<p>You acknowledge that this website, the Services, and the underlying software may include U.S. technical data subject to
			restrictions under export control laws and regulations administered by the United States government. You agree that you
			will comply with these laws and regulations, and will not export or re-export the Services, or any part of the Services,
			in violation of these laws and regulations, directly or indirectly. You also agree not to provide access to any part of
			the Services to anyone who you have reason to know may use the Services in the development of nuclear, chemical, or biological
			weapons.</p>

		<h3>13. Governing Law and Jurisdiction</h3>
		<p>Colorado state law governs this Agreement without regard to its conflicts of laws provisions. To resolve any legal dispute
			arising from this Agreement, you and CXO agree to the exclusive jurisdiction of state courts in Denver County, Colorado
			U.S.A. or the United States District Court for the District of Colorado. CXO does not represent that information on the
			website for the Services is appropriate or available for use in all countries. CXO prohibits accessing materials from
			countries or states where contents are illegal. You are accessing this website on your own initiative and you are responsible
			for compliance with all applicable laws.</p>

		<h3>14. Language</h3>
		<p>Any translation of this Agreement is done for local requirements and in the event of a dispute between the English and
			any non-English version, the English version of this Agreement shall govern. The parties hereby confirm that they have
			requested that this Agreement and all related documents be drafted in English.</p>

		<h3>15. General</h3>
		<p>This Agreement is the entire agreement between you and CXO and replaces all prior understandings, communications and agreements,
			oral or written, regarding its subject matter. This Agreement may be modified only by a written amendment signed by the
			parties or as provided in this Agreement in Section 10 above. If any court of law, having the jurisdiction, rules that
			any part of this Agreement is invalid, that section will be removed without affecting the remainder of the Agreement.
			The remaining terms will be valid and enforceable. The United Nations Convention on Contracts for the International Sale
			of Goods does not apply to this Agreement. You cannot assign or transfer ownership of this Agreement to anyone without
			the prior written approval of CXO. However, CXO may assign or transfer it without your consent to (a) an Affiliate, (b)
			another company through a sale of assets by CXO or (c) a successor by merger. Any assignment in violation of this Section
			shall be void. If you want to request a transfer of this Agreement or if your company is acquired by or merged into another
			company, contact CXO via email to: transfer_license@cxosoft.com.</p>

		<p>February 2016</p>
    <br>
    <a href="mailto:contact@cxosoft.com">contact@cxosoft.com</a>
	</div>
</div>
