.page-footer {
    position: fixed;
    bottom: 0px;
    height: 66px;
    border-top: 1px solid #dadada; 
    background-color: #FFF;
    padding: 15px;
    z-index: 2;
    @media screen and (max-width: 991px) {
        width: 100%;
    }
    @media screen and (min-width: 992px) {
        width: calc(100% - 220px);
    }
}

.side-nav-contracted {
    width: 100% !important;
}

.seperate {
    border-right: solid 1px black;
}

.footer-link {
    color: #424242;
    padding: 0px 15px 0px 15px;
}

.side-nav-present {
     @media screen and (min-width: 992px) {
        margin-left: 220px;
    }      
}