<div class="container">
  <div class="col s6">
    <h1>Having Trouble?</h1>
    <p>If you run into any problems trying to use CXOSoft, please check our FAQ on the right for common issues that users experience. If you don't find your answer there, please contact us so we can remedy any issues you experience.</p>
  </div>
  <div class="col s6">
    <h3>By Email</h3>
    <p><a href="mailto:contact@cxosoft.com?subject=CXOSoft Support">contact @ cxosoft.com</a></p>
    <h3>By Phone</h3>
    <p>866.553.8285</p>
  </div>

  <div class="col s12">
    <h2>FAQ</h2>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">question_answer</i>Why can't I see my company?</div>
        <div class="collapsible-body">
          <p>
          Before you can view your company, you will need to connect CXOSoft to your QuickBooks Online company.
          You can accomplish this by clicking <strong>Add a Company</strong> in the left navigation,
          then click the <strong>Connect To QuickBooks</strong> button in the <strong>Add a Company</strong> dialog.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">question_answer</i>How do I view change my other companies?</div>
        <div class="collapsible-body">
          <p>
          From the left navigation select the company you wish to switch to from the <strong>Select Company </strong> menu. <br>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">question_answer</i>How do I set or change my NAICS code?</div>
        <div class="collapsible-body">
          <p>
          From the left navigation select the company you wish to work with from the <strong>Select Company </strong> menu; then select <strong>Settings</strong>. <br>
          In the Industry Code - NAICS box you can search for the NAICS code by name or 4 digit value that best matches your business.<br>
          You might find this <a href="http://naics-codes.findthedata.com/" target="_blank">resource</a> helpful to determine which code to use.
          </p>
        </div>
      </li>
      <!--<li>
        <div class="collapsible-header"><i class="material-icons">question_answer</i>How do I add a user to my company?</div>
        <div class="collapsible-body">
          <p>
          From the left navigation select the company you wish to switch to from the <strong>Select Company </strong> menu. <br>
          From the left navigation select <strong>Settings</strong> <br>
          From here you search for the NAICS code that best matches your business.<br>
          </p>
        </div>
      </li>-->
      <li>
        <div class="collapsible-header"><i class="material-icons">question_answer</i>How do I change my password?</div>
        <div class="collapsible-body">
          <p>
          Click <a href="/profile"><strong>Edit Profile</strong></a> in the upper left square, then click <strong>Change Password</strong>. <br>
          In the form that appears, enter your new password, confirm that password, and click <strong>Submit</strong>.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
