.user-panel {
    height: 150px;
    background: linear-gradient(#CECECE, #FFF);
    padding: 10px;
}

.select-dropdown li span {
    color: #000; /* no need for !important :) */
}

.nav-links {
    padding: 10px;
}

.md-18 {
    font-size: 18px;
    margin-right: 10px !important;
}

.seperator {
    height: 2px;
    background-color: #d1d1d1;
}

.disabled-link {
    color: blue;
}

.logout-link:hover {
    cursor: pointer;
}

.edit-profile {
    padding: 0 !important;
    line-height: 30px;
    height: 30px;
    color: #1e7da9 !important;
}

.edit-profile:hover {
    color: #075488;
    font-weight: bold;
    background: transparent;
}

.company-picker {
    height: 66px;
}

.label-row {
    height: 15px;
}