<div *ngIf="user" class="side-display">
    <div class="user-panel valign-wrapper">
        <div *ngIf="user" class="valign">
            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            <span>{{ renameRole(company.role) | uppercase }}</span><br>
            <span (click)="emitLogout()">logout</span>
        </div>
    </div>

    <div class="input-field col s12">
        <select materialize="material_select" (change)="changeCompany($event.target.value)">
        <option *ngFor="let c of companies" 
                [value]="c.id"
                [attr.selected]="c.id === company.id ? true : null">{{ c.name }}</option> <!-- must return null in false case for selected to work -->
    </select>
        <label>Select Company</label>
    </div>

    <div class="nav-links">
        <span id="links-title">MAIN LINKS</span>

        <ul>
            <li><a routerLink="/cash_flow"><i class="material-icons md-18">trending_up</i>Cash Flow</a></li>
            <li><a *ngIf="company.role !== 'employee'" routerLink="/liquidity"><i class="material-icons md-18">local_bar</i>Liquidity</a></li>
            <li><a routerLink="/benchmarks"><i class="material-icons md-18">pie_chart</i>Benchmarks</a></li>
            <li><a routerLink="/employees" class="btn-flat disabled"><i class="material-icons md-18">face</i>Employees</a></li>
        </ul>
    </div>
</div>

<div *ngIf="!user" class="side-display">
    <div class="user-panel valign-wrapper">
    </div>
</div>