<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">

			<a class="brand-logo">
				<img id="brand-img" src="assets/CXO_logo.jpg" alt="CXO logo">
			</a>
            <a *ngIf="loggedIn" href="#" (click)="toggleSideNav($event)" class="left side-nav-toggle hide-on-med-and-down">
                <i *ngIf="sideNavExpanded" class="material-icons black-text">keyboard_arrow_left</i>
                <i *ngIf="!sideNavExpanded" class="material-icons black-text">menu</i>
            </a>

			<ul *ngIf="loggedIn" class="right">
				<li><a class="logout-btn" (click)="emitLogout($event)">Logout</a></li>
			</ul>

		</div>
	</nav>
</div>