<div class="row">
    <div class="col s12">
        <div class="employee-header">
            <h4>Employees</h4>
        </div>
        <div class="employee-header">
            <form action="#" class="status-buttons space-left">
                <input id="current" class="with-gap" name="status-group" type="radio" checked><label for="current">Current</label>
                <input id="former" class="with-gap" name="status-group" type="radio"><label for="former">Former</label>
            </form>
        </div>
        <div class="employee-header space-left">
            <a href="" class="btn">Add a User</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Manager</th>
                    <th>Role</th>
                    <th>Activated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.email }}</td>
                    
                    <!--
                    <td>
                        <select materialize="material_select">
                        <option *ngFor="let manager of employee.managers" 
                                [value]="manager.id"
                                [attr.selected]="manager.id === employee.manager_id ? true : null">
                            {{ manager.name }}
                        </option>
                        <option value="null">NONE</option>
                    </select>
                    </td>  
                    ^^ left here for when we reintroduce timesheets -->

                    <td>{{ employee.manager }}</td>
                    <td>{{ employee.role }}</td>
                    <td>{{ !employee.pending_invitation }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>