<app-top-nav (sideNavChange)="toggleSideNav()"></app-top-nav>

<div class="row">
    <div id="sidebar" class="side-nav fixed" *ngIf="sideNavExpanded">
        <app-side-nav   [expanded]="sideNavExpanded"
                        [user]="user"
                        [companies]="companies"
                        [company]="company"
                        (companyChange)="setCompany($event)"
                        (logout)="logout()"></app-side-nav>
    </div>

    <div id="content-window" [class.side-nav-present]="sideNavExpanded">
        <router-outlet></router-outlet>
    </div>
</div>

<div id="footer" [class.side-nav-present]="sideNavExpanded">
    <app-footer></app-footer>
</div>