#sidebar {
    width: 220px;
    padding-top: 88px;
    z-index: 1;
}

#content-window {
    padding: 30px 20px 20px 20px;
    margin-bottom: 300px;
}

.side-nav-present {
     @media screen and (min-width: 992px) {
        margin-left: 220px;
    }      
}


