<app-top-nav (sideNavChange)="toggleSideNav()" (logout)="logout()" [loggedIn]="loggedIn"></app-top-nav>

<div class="row">
	<div id="sidebar" class="side-nav fixed" *ngIf="sideNavExpanded">
		<app-side-nav 	[expanded]="sideNavExpanded" 
						[user]="user" 
						[companies]="companies" 
						[company]="company" 
						(companyChange)="setCompany($event)"
						(addCompany)="showAddCompanyModal()"></app-side-nav>
	</div>

	<div id="content-window" [class.side-nav-present]="sideNavExpanded">
		<router-outlet></router-outlet>
	</div>
</div>

<div id="footer" [class.side-nav-present]="sideNavExpanded">
	<app-footer [sideNavExpanded]="sideNavExpanded"></app-footer>
</div>

<app-modal [modalHeader]="modalHeader" [modalBody]="modalBody"></app-modal>

<div class="modal" id="modal-add-company">
	<div class="modal-content">
		<span class="right"><i class="material-icons md-18 modal-close">close</i></span>
		<h4>Add a Company</h4>
		<div>You must connect to QuickBooks to add another company.</div>
	</div>
	<div id="modal-footer-content" class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat">Connect To QuickBooks</a>
	</div>
</div>
