<div class="col s12">
	<div class="card">
		<div [@expandedState]="expansion" class="card-content chart-container">
			<app-cash-flow-chart [data]="data" [flags]="flags" [projection]="projection"></app-cash-flow-chart>
			<div class="row mod-group">
				<div class="col s12 m6 modifiers">
					<div class="row mod-header">
						<div class="col s3">Debt</div>
						<div class="col s2">
							<p class="align-center">Pay?</p>
						</div>
						<div class="col s3">Amount</div>
						<div class="col s4">Date</div>
					</div>
					<div class="mod-body">
						<div class="row mod-row" *ngFor="let bill of bills; let i = index" [class.shaded]="(i % 2) === 0">
							<div class="col s3 truncate">{{ bill.description }}</div>
							<div class="col s2">
								<p class="center-align"><input type="checkbox" id="bill-{{bill.id}}" [(ngModel)]="bill.include"><label [attr.for]="'bill-' + bill.id"></label></p>
							</div>
							<div class="col s3"><input class="mod-input" type="number" [(ngModel)]="bill.total"></div>
							<div class="col s4"><input 	materialize="pickadate" 
														[materializeParams]="[{format:'yyyy-mm-dd'}]" 
														class="mod-input datepicker"
														type="date" 
														[(ngModel)]="bill.date">
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 modifiers">
					<div class="row mod-header">
						<div class="col s3">Customer</div>
						<div class="col s2">Collect?</div>
						<div class="col s3">Amount</div>
						<div class="col s4">Date</div>
					</div>
					<div class="mod-body">
						<div class="row mod-row" *ngFor="let invoice of invoices; let i = index" [class.shaded]="(i % 2) === 0">
							<div class="col s3 truncate">{{ invoice.description }}</div>
							<div class="col s2">
								<p class="center-align">
									<input class="mod-toggle" type="checkbox" id="invoice-{{invoice.id}}" [(ngModel)]="invoice.include">
									<label [attr.for]="'invoice-' + invoice.id"></label>
								</p>
							</div>
							<div class="col s3"><input class="mod-input" type="number" [(ngModel)]="invoice.total"></div>
							<div class="col s4"><input 	materialize="pickadate" 
														[materializeParams]="[{format:'yyyy-mm-dd'}]" 
														class="mod-input datepicker" 
														type="date"
														[(ngModel)]="invoice.date">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-action">
			<a *ngIf="expansion === 'contracted'" href="" (click)="expand($event)" class="btn grey">Adjust Projection</a>
			<a *ngIf="expansion === 'expanded'" (click)="createProjection()" class="btn grey">Update Graph</a>
			<a *ngIf="expansion === 'expanded'" (click)="showPlan($event)" class="btn grey">Get My Plan</a>
			<a *ngIf="expansion === 'expanded'" (click)="prepareCashFlowData()" class="btn grey">Reset</a>
			<a *ngIf="expansion === 'expanded'" href="" (click)="contract($event)" class="btn grey">Hide Modifiers</a>
		</div>
	</div>
</div>

<div class="modal modal-fixed-footer" id="modal-plan">
	<div class="modal-content">
		<span class="right"><i class="material-icons md-18 modal-close">close</i></span>
		<div id="print-content">
			<h5>Planned Transactions - {{ today() }}</h5>
			<div *ngFor="let day of plan">
				<p><strong><u>{{ day.date }}</u></strong></p>
				<p *ngFor="let line of day.instructions">{{ line }}</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a (click)="print()" class="left btn grey plan-print">Print / Save</a>
	</div>
</div>