<div class="col s12">
	<div class="card">
		<div [@expandedState]="expansion" class="card-content chart-container">
			<app-cash-flow-chart [data]="data" [flags]="flags" [projection]="projection"></app-cash-flow-chart>
			<div class="row mod-group">
				<div class="col s12 m6 modifiers">
					<div class="row mod-header">
						<div class="col s3">Debt</div>
						<div class="col s2">
							<p class="align-center">Pay?</p>
						</div>
						<div class="col s3">Amount</div>
						<div class="col s4">Date</div>
					</div>
					<div class="mod-body">
						<div class="row mod-row" *ngFor="let bill of bills; let i = index" [class.shaded]="(i % 2) === 0">
							<div class="col s3 truncate">{{ bill.description }}</div>
							<div class="col s2">
								<p class="center-align"><input type="checkbox" id="bill-{{bill.id}}" [(ngModel)]="bill.include"><label [attr.for]="'bill-' + bill.id"></label></p>
							</div>
							<div class="col s3"><input class="mod-input" type="number" [(ngModel)]="bill.total"></div>
							<div class="col s4"><input class="mod-input" type="date" [(ngModel)]="bill.date"></div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 modifiers">
					<div class="row mod-header">
						<div class="col s3">Customer</div>
						<div class="col s2">Collect?</div>
						<div class="col s3">Amount</div>
						<div class="col s4">Date</div>
					</div>
					<div class="mod-body">
						<div class="row mod-row" *ngFor="let invoice of invoices; let i = index" [class.shaded]="(i % 2) === 0">
							<div class="col s3 truncate">{{ invoice.description }}</div>
							<div class="col s2">
								<p class="center-align">
									<input class="mod-toggle" type="checkbox" id="invoice-{{invoice.id}}" [(ngModel)]="invoice.include">
									<label [attr.for]="'invoice-' + invoice.id"></label>
								</p>
							</div>
							<div class="col s3"><input class="mod-input" type="number" [(ngModel)]="invoice.total"></div>
							<div class="col s4"><input class="mod-input" type="date" [(ngModel)]="invoice.date"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-action">
			<a *ngIf="expansion === 'contracted'" href="" (click)="expand($event)" class="mod-button">Adjust Projection</a>
			<a *ngIf="expansion === 'expanded'" href="" (click)="contract($event)" class="mod-button">Hide Modifiers</a>
			<a *ngIf="expansion === 'expanded'" (click)="createProjection()" class="mod-button">Update Projection</a>
			<a *ngIf="expansion === 'expanded'" (click)="prepareCashFlowData()" class="mod-button">Reset</a>
		</div>
	</div>
</div>