<div class="row">
    <div class="col s12 l6">
        <div class="card">
            <div class="card-content row profile-card">
                <div class="col s12 m6">
                    <img class="circle responsive-img center-block profile-pic" src="{{ profile.picture }}" alt="profile picture">
                    <p class="center-align"><a href="" class="btn">Change Picture</a></p>
                </div>
                <div class="col s12 m6 right-align employee-traits">
                    <h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <p>{{ profile.title }}</p>
                    <p>role: {{ profile.role }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l4">
        <div class="input-field form-group">
            <input class="form-control" type="text" id="firstName" required [(ngModel)]="profile.first_name">
            <label for="firstName" [class.active]="profile.first_name">First Name</label>
        </div>
        <div class="input-field form-group">
            <input class="form-control" type="text" id="lastName" required [(ngModel)]="profile.last_name">
            <label for="lastName" [class.active]="profile.last_name">Last Name</label>
        </div>
        <div class="input-field form-group">
            <input class="form-control" type="text" id="primaryEmail" required [(ngModel)]="profile.primary_email">
            <label for="primaryEmail" [class.active]="profile.primary_email">Primary Email</label>
        </div>
        <div class="input-field form-group">
            <input class="form-control" type="text" id="secondaryEmail" required [(ngModel)]="profile.secondary_email">
            <label for="secondaryEmail" [class.active]="profile.secondary_email">Secondary Email</label>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field form-group">
            <input class="form-control" type="text" id="title" required [(ngModel)]="profile.title">
            <label for="title" [class.active]="profile.title">Title</label>
        </div>
        <div class="input-field form-group">
            <input disabled class="form-control" type="text" id="role" required [(ngModel)]="profile.role">
            <label for="role" [class.active]="profile.role">Role</label>
        </div>
        <!--<div class="input-field form-group">
            <input class="form-control" type="text" id="payType" required [(ngModel)]="profile.pay_type">
            <label for="payType" [class.active]="profile.pay_type">Pay Type</label>
        </div>
        <div class="input-field form-group">
            <input class="form-control" type="text" id="classification" required [(ngModel)]="profile.classification">
            <label for="classification" [class.active]="profile.classification">Classification</label>
        </div>
        ^^ will reintroduce when these fields matter -->
    </div>
</div>

<div class="row">
    <div class="col s6">
        <a (click)="showPasswordChange($event)" class="change-password" href="">change password</a>
    </div>
</div>

<div class="row">
    <a class="waves-effect waves-light btn">Save Changes</a>
    <a class="waves-effect waves-light btn">Revert</a>
    <a class="waves-effect waves-light btn">Create New</a>
</div>