<div class="row">
	<div class="col s12 l6">
		<div class="card">
			<div class="card-content row profile-card">
				<div class="col s12 m6">
					<img class="circle responsive-img center-block profile-pic" src="{{ profile.picture }}" alt="profile picture">
					<p *ngIf="uploadStatus === 'none'" class="center-align"><a (click)="uploadStatus = 'show'" class="btn cxo-btn-primary">Change Picture</a></p>
				</div>
				<div class="col s12 m6 right-align employee-traits">
					<h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
					<p>{{ profile.title }}</p>
					<p>role: {{ profile.role }}</p>
				</div>
				<div *ngIf="uploadStatus === 'show'" class="col s12">
					<form action="">
						<div class="file-field input-field">
							<div class="btn cxo-btn-primary">
								<span>Select File</span>
								<input (change)="uploadPicture($event)" type="file">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Choose an image to upload">
							</div>
						</div>
					</form>
				</div>
				<div *ngIf="uploadStatus === 'uploading'" class="progress col s12">
					<div class="indeterminate"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m6 l4">
		<div class="input-field form-group">
			<label for="firstName" [class.active]="profile.first_name">First Name</label>
			<input class="form-control" type="text" id="firstName" required [(ngModel)]="profile.first_name">

		</div>
		<div class="input-field form-group">
			<label for="lastName" [class.active]="profile.last_name">Last Name</label>
			<input class="form-control" type="text" id="lastName" required [(ngModel)]="profile.last_name">

		</div>
		<div class="input-field form-group">
			<label for="primaryEmail" [class.active]="profile.primary_email">Primary Email</label>
			<input class="form-control" type="text" id="primaryEmail" required [(ngModel)]="profile.primary_email">

		</div>
		<div class="input-field form-group">
			<label for="secondaryEmail" [class.active]="profile.secondary_email">Secondary Email</label>
			<input class="form-control" type="text" id="secondaryEmail" required [(ngModel)]="profile.secondary_email">

		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="input-field form-group">
			<label for="title" [class.active]="profile.title">Title</label>
			<input class="form-control" type="text" id="title" required [(ngModel)]="profile.title">

		</div>
		<div class="input-field form-group">
			<label for="role" [class.active]="profile.role">Role</label>
			<input disabled class="form-control" type="text" id="role" required [(ngModel)]="profile.role">

		</div>
		<!--<div class="input-field form-group">
            <label for="payType" [class.active]="profile.pay_type">Pay Type</label>
			<input class="form-control" type="text" id="payType" required [(ngModel)]="profile.pay_type">

        </div>
        <div class="input-field form-group">
			<label for="classification" [class.active]="profile.classification">Classification</label>
            <input class="form-control" type="text" id="classification" required [(ngModel)]="profile.classification">
        </div>
        ^^ will reintroduce when these fields matter -->
	</div>
</div>

<div class="row">

	<div *ngIf="passwordChangeStatus === 'none'" class="col s12 l6 pass-link">
		<a (click)="passwordChangeStatus = 'show'" class="change-password">change password</a>
	</div>

	<div *ngIf="passwordChangeStatus === 'show'" class="card col s12 l6">
		<div class="card-content">
			<i (click)="passwordChangeStatus = 'none'" class="material-icons md-18 right pass-link">close</i>

			<span class="card-title">Change Password</span>

			<form action="">

				<div class="input-field form-group">
					<label for="oldPassword">Old Password</label>
					<input class="form-control" type="text" id="oldPassword" required>
				</div>

				<div class="input-field form-group">
					<label for="newPassword">New Password</label>
					<input class="form-control" type="text" id="newPassword" required>
				</div>

				<div class="input-field form-group">
					<label for="newPasswordConfirm">Confirm New Password</label>
					<input class="form-control" type="text" id="newPasswordConfirm" required>
				</div>

				<button type="submit" class="waves-effect waves-light btn btn-cxo-primary right password-submit">Change Password</button>

			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<a (click)="saveChanges()" class="waves-effect waves-light btn cxo-btn-primary">Save Changes</a>
		<a (click)="show()" class="waves-effect waves-light btn cxo-btn-primary">Revert Changes</a>
	</div>
</div>