.profile-pic {
    max-height: 200px;
    margin-bottom: 15px;
}

.pic-container {
    height: 215px;
}

.pass-link:hover {
    cursor: pointer;
}

.profile-card {
    min-height: 300px;
}

.employee-traits {
    margin-top: 15px;
}

.password-submit {
    margin: 15px 0px;
}

.traits-display {
    height: 188px;
}

.btn {
    white-space: nowrap;
}