<div class="row ribbon">
  <div class="col s12 m3">
    <p>Who I Owe</p>
    <span ng-init='viewAP = false' class="owe-pane">
      <h5 class="debt">{{ apTotal | currency:'USD':true:'1.2-2' }}</h5>
      <a *ngIf='!viewAP' (click)="viewAP = true" class="btn grey btn-small">Show Details</a>
      <a *ngIf='viewAP' (click)="viewAP = false" class="btn grey btn-small">Hide Details</a>
    </span>
    <div class="payables-details" [hidden]="!viewAP">
      <table class="striped center" id='details'>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Amount Due</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.name }}</td>
            <td>{{ customer.balance | currency:'USD':true:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 m3">
    <p>Who Owes Me</p>
    <span ng-init='viewAR = false' class="owe-pane">
      <h5 class="income">{{ arTotal | currency:'USD':true:'1.2-2' }}</h5>
      <a *ngIf='!viewAR' (click)="viewAR = true" class="btn grey btn-small">Show Details</a>
      <a *ngIf='viewAR' (click)="viewAR = false" class="btn grey btn-small">Hide Details</a>
    </span>
    <div class="payables-details" [hidden]="!viewAR">
      <table class="striped center" id='details'>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Amount Due</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vendor of vendors">
            <td>{{ vendor.name }}</td>
            <td>{{ vendor.balance | currency:'USD':true:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 m3">
    <p>Current Cash</p>
    <span class="owe-pane">
      <h5>{{ currentBalance | currency:'USD':true:'1.2-2' }}</h5>

    </span>
  </div>
  <div class="col s12 m3">
    <p>Cash in 7 Days</p>
    <h5>{{ oneWeekBalance | currency:'USD':true:'1.2-2' }}</h5>
  </div>
</div>
