<div id="ribbon">
    <div class="col s12 l6">
        <div class="card ribbon-content">
            <app-ar-ap></app-ar-ap>
        </div>
    </div>

    <div class="col s12 l6">
        <div class="card ribbon-content">
            <div class="card-content">
                <p>Current Cash Projected Cash</p>
            </div>
        </div>
    </div>
</div>

<app-cash-flow [company]="company" [data]="data"></app-cash-flow>

<div class="col s12">
    <div class="card expenses">
        <div class="card-content">
            <p>Expenses By Category</p>
        </div>
    </div>
</div>