<div id="ribbon" class="row">
    <div class="col s12 l6">
        <div class="card ribbon-content">
            <div class="card-content">
                <p>Who I owe and who owes me</p>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p> {{ company.name }}</p>
            </div>
        </div>
    </div>

    <div class="col s12 l6">
        <div class="card ribbon-content">
            <div class="card-content">
                <p>Current Cash Projected Cash</p>
            </div>
        </div>
    </div>
</div>

<app-cash-flow [company]="company" [data]="data"></app-cash-flow>