<div id="intuit-landing">
  <div class="row">
    <div class="intuit-header col-sm-12">
      <div class="col-md-8"><a href="https://appcenter.intuit.com"><img id="intuit-apps-logo" src="assets/qb-badge.png"/></a></div>
    </div>
  </div>
  <div class="row">
    <div class="features">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h3>Get Started</h3>
        <p>Before you start using CXOSoft, you'll need to create an account in our system. Click the button above when you're ready to get started.</p>
        <hr/>
        <div class="col-md-4 text-center"><a id="create-acct-btn" href="/register" class="btn btn-lg btn-primary">Create a CXOSoft Account</a></div>
      </div>
    </div>
  </div>
</div>
