/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

body {
    background-color: #e8edf2;
}

.cxo-btn-primary {
    background-color: #259f78;
}

.cxo-btn-primary:hover {
    background-color: #3fb992;
}