<div class="container-fluid">
    <div class="row b1 text-white" data-parallax="scroll" data-image-src="assets/b1.jpg">
          <div class="col-xs-12 hidden-lg" style="z-index: 900">
            <div class="burger">
              <ul class="burgermenu">
                <a href="#" onclick="myFunction()" style="font-size: 30px">&#9776;</a>
                <li class="vi2">
                  <a href="#what-is-cxo" onclick="myFunction2()">What is CXO</a>
                </li>
                <li class="vi2">
                  <a href="#why-cxo" onclick="myFunction2()">Why CXO</a>
                </li>
                <li class="vi2">
                  <a href="#finad" onclick="myFunction2()" >Financial Advisor</a>
                </li>
                <li class="vi2">
                  <a href="#pri" onclick="myFunction2()" >Pricing</a>
                </li>
                <li class="vi2">
                  <a href="#ctc" onclick="myFunction2()" >Contact</a>
                </li>
                <li class="vi2">
                  <a href="login.html" onclick="myFunction2()" >LOGIN</a>
                </li>
              </ul>
            </div>
          </div>
      <div class="col-xs-12 top-menu hidden-xs hidden-sm hidden-md">
        <div class="row ">
          <div class="col-sm-2 col-lg-2"><a href="index.html">
            <img src="assets/logo.png" class="cxlogo" alt="cxosoft logo"></a>
          </div>
          <div class="col-sm-10 col-lg-10 text-right menu">
            <span>
              <a href="#what-is-cxo">What is CXO</a>
            </span>
            <span>
              <a href="#why-cxo">Why CXO</a>
            </span>
            <span>
              <a href="#finad">Financial Advisor</a>
            </span>
            <span>
              <a href="#pri">Pricing</a>
            </span>
            <span>
              <a href="#ctc">Contact</a>
            </span>
            <span class="btn btn-success">
              <a [routerLink]="['/login']">LOGIN</a>
            </span>
          </div>
        </div>
      </div>
  <div class="col-lg-4 col-lg-offset-2 b1-1">
    <h1>Here’s to the Lifestyle
of the Modern Entrepreneur</h1>
      <h3>From AM to PM, CXO is here to help you keep an eye on your cash.</h3>
      <h4 class="text-default2">CXO was created for the small business owners who never clock out, the home office heroes, and the just-won’t-quit-ers who need to know what’s up with their bank accounts.</h4>
      <div class="btn btn-success btn-lg"><a href="#ctc">Learn More</a></div>
  </div>
  </div>
  
  
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center text-green mg1">Mind On Your Money. Money On Your Mind.</h2>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 ppb">
      <img src="assets/graph.png" alt="Mind on your money" style="max-width: 100%">
    </div>
  </div>

  <div class="row no-gutters text-default mmb">
    <div class="col-xs-12 col-lg-offset-1 col-lg-2  text-center">
    <img src="assets/Icon 1.png" height="150" width="150" alt="payroll">
      <img src="assets/Icon 1 number.png" data-aos="fade-down" height="50" width="130" alt="payroll cost decrease">
      <p>Only 3 things are truly constant in life: death, taxes, and payroll.<br />(payable)</p>
    </div>
    
    <div class="col-xs-12 col-lg-offset-0 col-lg-2 text-center">
      <img src="assets/Icon 2.png" height="150" width="120" alt="invoice">
      <img src="assets/Icon 2 number.png" data-aos="fade-down" height="50" width="130" alt="invoice cost decrease">
      <p>More inventory, more invoices.<br />(payable)</p>
    </div>
    
    <div class="col-xs-12 col-lg-offset-0 col-lg-2 text-center">
      <img src="assets/Icon 3.png" height="150" width="150" alt="cash flow">
      <img src="assets/Icon 3 number.png" data-aos="fade-up" height="50" width="130" alt="cash flow increase">
      <p>New clients, new cash flow.<br />(receivable)</p>
    </div>
      
    <div class="col-xs-12 col-lg-offset-0 col-lg-2 text-center">
      <img src="assets/Icon 4.png" height="150" width="150" alt="light">
      <img src="assets/Icon 4 number.png" data-aos="fade-down" height="50" width="130" alt="light on">
      <p>Gotta keep the lights on.<br />(payable)</p>
    </div>
    
    <div class="col-xs-12 col-lg-offset-0 col-lg-2 text-center">
      <img src="assets/Icon 5.png" height="150" width="150" alt="sales chart">
      <img src="assets/Icon 5 number.png" data-aos="fade-up" height="50" width="140" alt="sales up">
      <p>Record-breaking sales!<br />(receivable)</p>
    </div>

   </div>
  <div class="row mm" data-parallax="scroll" data-image-src="assets/b2.jpg">
    <div class="col-lg-6 col-lg-offset-3 text-center text-white" >
      <h2>cash • flow</h2>
<h3>(noun.) – The total amount of money being transferred into and out of a business, especially as affecting liquidity.</h3>
<h2>liquidity</h2>
<h3>(noun.) – A measure of the extent to which a business has cash to meet immediate and short-term liabilities (who you owe), or assets (who owes you) that can be quickly converted to do this.</h3>
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <img src="assets/ss.png" data-aos="fade-right" class="swg" alt="">
    </div>
    <div class="col-lg-5">
      <h2 class="text-green mg1-1" id="what-is-cxo">What is CXO?</h2>
<h4 class="text-blue">Automated. Proactive. Predictive.<br>Sexy as hell.</h4>

      <p class="text-default">CXOSoft is an easy to use dashboard that keeps track of your receivables and payments. With our predictive technology, you can forecast your ﬁnances and understand the consequences of each invoice and receivable, fast.</p>
      <br>
      <div class="wic">
        <img src="assets/Automated.png" data-aos="fade-down" width="110" alt="Automated" class="aos-init aos-animate">
        <h4 class="text-green">Automated</h4>
        Automation means action. Take a real-time look into your transactions and see what's happening right now.
      </div>
      <div class="wic">
        <img src="assets/Proactive.png" data-aos="fade-down" width="110" alt="Proactive" class="aos-init aos-animate">
          <h4 class="text-green">Proactive</h4>
          <p>Stay a step ahead. Form your strategy with the pieces you need to see the big picture.</p>
      </div>
      <div class="wic">
        <img src="assets/Predictive.png" data-aos="fade-down" width="110" alt="Predictive" class="aos-init aos-animate">
        <h4 class="text-green">Predictive</h4>
        <p>Anticipate your money's every move with CXO's financial forecasting.</p>
      </div>
      <div class="wic">
        <img src="assets/Sexy As Hell.png" data-aos="fade-down" width="110" alt="Sexy As Hell" class="aos-init aos-animate">
        <h4 class="text-green">Sexy As Hell</h4>
        <p>Stunning visual dynamics that are both eye-catching and easy to understand.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="text-green">Why We Only Use QuickBooks</h2>
        <h3 class="text-blue">To be the best, you have to work with the best.</h3>
<p class="text-default">CXOSoft fully integrates with your QuickBooks Online account, partnering with the premier accounting software for small businesses. Based in the United States and founded speciﬁcally for self-starters, there’s no other company we’d rather team up with.</p>
<br><br>
    </div>
  </div>
  <div class="row b3" data-parallax="scroll" data-image-src="assets/b3.jpg">
    <div class="col-lg-6 col-lg-offset-3 text-white">
      <h2 class="j1">From scheduling staff to waiting tables, Juan doesn’t have time to wait for much else.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center mm">
      <h3 class="text-green" id="why-cxo">Why CXO?</h3>
      <h4 class="text-blue">82% of businesses fail because of cash flow problems.</h4>
      <div class="row mg1-1">
        <div class="col-lg-4">
        <img src="assets/cashflow.png" data-aos="fade-down" alt="Cash Flow" class="text-center" width="150">
          <h5 class="text-green">Cash Flow</h5>
          <p class="text-default mmb">
            Your cash ﬂow isn’t bounded by a 9-5 workday–no matter what the bank says. CXOSoft gives you the knowledge and vision to make the best choices for your business.
          </p>
        </div>
        <div class="col-lg-4">
        <img src="assets/growth.png" data-aos="fade-down" alt="Growth" class="text-center" width="150">
          <h5 class="text-green">Growth</h5>
          <p class="text-default mmb">
            Go ahead and push your dreams into uncharted territory. CXO makes sure you’re educated when it’s time to grow and expand. Our simple, automated intelligence let’s you look at your numbers through the eyes of a CEO, CFO, Controller, or COO without actually having to hire one.
          </p>
        </div>
        <div class="col-lg-4">
        <img src="assets/auto.png"  data-aos="fade-down" alt="Automation" class="text-center" width="150">
          <h5 class="text-green">Automation</h5>
          <p class="text-default mmb">There are never enough hours in a day. When you can’t move faster, you gotta move smarter. Predictive automation means real-time knowledge. Educated action is possible when you look into transactions happening now. There’s only 24 hours in a day, so when you can’t move faster, you gotta be smarter.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row b4" data-parallax="scroll" data-image-src="assets/b4.png">
    <div class="col-lg-6 col-lg-offset-3" >
      <h2 class="j1 text-white">Naptime? More like go time. Allison makes every minute count with CXO’s predictive dashboard.</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center mmb">
      <h2 class="text-green mg1" id="finad">Financial Advisor</h2>
      <p class="text-blue">Are you an accounting professional looking to add value for your clients? Use CXOPro to empower your customers with cashflow.</p>
      <div class="btn btn-success btn-lg "><a href="#ctc">Contact Us</a></div>
      <br>
      <br>
    </div>
  </div>
  
  <div class="row b5" data-parallax="scroll" data-image-src="assets/b5.jpg">
    <div class="col-lg-6 col-lg-offset-3">
      <h2 class="text-white j1">As a web developer, Daryl doesn't exactly follow a 40 hour work week. With a push of a button, he can track and forecast his liquidity right from his phone.</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 class="text-green text-center" id="pri">Pricing</h2>
      <h3 class="text-blue mmb text-center">All plans include a 90 day free trial.<br>Choose a plan to get started.</h3>
      <div class="row">
      <div class="col-xs-12 col-lg-4 text-center pbb">
        <div class="pb">
        <h3 class="text-blue text-center">Basic</h3>
        <h1 class="text-green-lg text-center">$5</h1>
        <ul style="display: table-row;">
          <li>Current Cash</li>
          <li>Projected cash</li>
          <li>Cash Flow diagram</li>
          <li>Who owes me</li>
          <li>Who I owe</li>
          <li>Aged Payables</li>
          <li>Aged Receivables</li>
          <li>&nbsp; </li>
          <li>&nbsp; </li>
          <li>&nbsp; </li>
        </ul>
        <div  style="display: table-footer-group;" class="btn btn-success btn-lg"><a href="register.html">
        Start my 90 day<br>
free trial</a>
        </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 text-center pbb">
        <div class="pb">
        <h3 class="text-blue text-center">Advanced</h3>
        <h1 class="text-green-lg text-center">$9</h1>
        <ul style="display: table-row;">
          <li>Current Cash</li>
          <li>Projected cash</li>
          <li>Cash Flow diagram</li>
          <li>Who owes me</li>
          <li>Who I owe</li>
          <li>Aged Payables</li>
          <li>Aged Receivables</li>
          <li><strong>+Benchmarks (KPI)</strong></li>
          <li>&nbsp; </li>
          <li>&nbsp; </li>
        </ul>
        <div  style="display: table-footer-group;" class="btn btn-success btn-lg"><a href="register.html">
        Start my 90 day<br>
free trial</a>
        </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 text-center pbb">
        <div class="pb">
        <h3 class="text-blue text-center">Professional</h3>
        <h1 class="text-green-lg text-center">$14</h1>
        <ul style="display: table-row;">
          <li>Current Cash</li>
          <li>Projected cash</li>
          <li>Cash Flow diagram</li>
          <li>Who owes me</li>
          <li>Who I owe</li>
          <li>Aged Payables</li>
          <li>Aged Receivables</li>
          <li><strong>+Benchmarks (KPI)</strong></li>
          <li><strong>+Liquidity</strong></li>
          <li>&nbsp; </li>
        </ul>
        <div  style="display: table-footer-group;" class="btn btn-success btn-lg"><a href="register.html">
        Start my 90 day<br>
free trial</a>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="row b6" data-parallax="scroll" data-image-src="assets/b6.jpg">
    <div class="col-lg-6 col-lg-offset-3 text-white" id="ctc">
      <h2>Contact Us</h2>
      <form>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" class="form-control" id="phone">
        </div>
        <div class="form-group">
          <label for="phone">Email:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="txt">Message:</label>
          <textarea class="form-control" rows="5" id="txt"></textarea>
        </div>

        <div class="text-center">
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
    
    
  </div>
  
  
    <div class="row b7 text-white">
    <div class="col-lg-2"><div class="btn btn-success"><a href="eula.html">End User License Agreement</a></div></div><div class="col-lg-2"></div><div class="col-lg-2"><div class="btn btn-success"><a href="pp.html">Privacy Policy</a></div></div>
    <div class="col-lg-6 text-right menu">
      <span>
        Contact@CXOSoft.com
      </span>
    </div>
  </div>
</div>

