<div class="container">
<h1>Start Your Free Trial</h1>
<div class="row">
    <form  action="create()" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input  name="firstName" id="firstName" type="text" class="validate" required>
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <!--<i class="material-icons prefix">account_circle</i>-->
          <input  name="lastName" id="lastName" type="text" class="validate" required>
          <label for="lastName">Last Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input name="email" id="email" type="email" class="validate" required>
					<label for="email">Email</label>
        </div>
        <!--<div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>-->
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="confirmPassword" name="confirmPassword" type="password" class="validate" required>
          <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <input name="street" id="street" type="text" class="validate" required>
					<label for="street">Street Address</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input name="city" id="city" type="text" class="validate" required>
					<label for="city">City</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input name="state" id="state" type="text" class="validate" required>
					<label for="state">State</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">zip</i>
          <input name="zip" id="zip" type="text" class="validate" required>
					<label for="zip">Zip</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">credit_card</i>
          <input name="ccnum" id="ccnum" type="text" class="validate" required>
					<label for="ccnum">Credit Card Number</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix"></i>
          <input name="ccyr" id="ccyr" type="text" class="validate" required>
					<label for="ccyr">Expiration Yr</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix"></i>
          <input name="ccmo" id="ccmo" type="text" class="validate" required>
					<label for="ccmo">Expiration Mo</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix"></i>
          <input name="ccv" id="ccv" type="text" class="validate" required>
					<label for="ccv">CCV</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <button type="submit" class="waves-effect waves-light btn cxo-btn-primary">Start Trial</button>
        </div>

      </div>
    </form>
  </div>

</div>
